IMPORT LIBRARIES and DATASET

In [63]:
import pandas as pd 
df = pd.read_csv(r'C:\Users\mhdih\OneDrive\Desktop\uni\D3_project_files\movies_metadata.csv', low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

INFO on Dataset with rows and Datatypes

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

Summary statistics of the numerical columns

In [65]:
df.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

Checking for uniqueness in values.Help know types and possibilities

In [66]:
df.nunique()

adult                        5
belongs_to_collection     1698
budget                    1226
genres                    4069
homepage                  7673
id                       45436
imdb_id                  45417
original_language           92
original_title           43373
overview                 44307
popularity               43758
poster_path              45024
production_companies     22708
production_countries      2393
release_date             17336
revenue                   6863
runtime                    353
spoken_languages          1931
status                       6
tagline                  20283
title                    42277
video                        2
vote_average                92
vote_count                1820
dtype: int64

In [67]:
# df.isnull().sum()
df.isnull().sum()/(len(df))*100    #percentage of missing values in each column

adult                     0.000000
belongs_to_collection    90.115691
budget                    0.000000
genres                    0.000000
homepage                 82.883913
id                        0.000000
imdb_id                   0.037391
original_language         0.024194
original_title            0.000000
overview                  2.098271
popularity                0.010997
poster_path               0.848986
production_companies      0.006598
production_countries      0.006598
release_date              0.191352
revenue                   0.013197
runtime                   0.578454
spoken_languages          0.013197
status                    0.191352
tagline                  55.104914
title                     0.013197
video                     0.013197
vote_average              0.013197
vote_count                0.013197
dtype: float64

In [68]:
df_update = df.drop(columns=['adult', 'homepage', 'overview', 'poster_path', 'video', 'tagline'])  
df_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   imdb_id                45449 non-null  object
 5   original_language      45455 non-null  object
 6   original_title         45466 non-null  object
 7   popularity             45461 non-null  object
 8   production_companies   45463 non-null  object
 9   production_countries   45463 non-null  object
 10  release_date           45379 non-null  object
 11  revenue                45460 non-null  float64
 12  runtime                45203 non-null  float64
 13  spoken_languages       45460 non-null  object
 14  status                 45379 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
 17  vote_count             45460 non-null  float64
dtypes: float64(4), object(14)
memory usage: 6.2+ MB

In [69]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')    #The errors='coerce' => NaN
cutoff_date = pd.Timestamp('1900-01-01')    # Define the cutoff date
df_date = df[df['release_date'] >= cutoff_date] # Filter the DataFrame
df_date['release_date']   #List of Removable values

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45460   1991-05-13
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45295, dtype: datetime64[ns]

In [70]:
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')  
df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce')  
print(df['budget'].isnull().sum())    
print(df['popularity'].isnull().sum())

3
6

In [71]:
df_rumoured = df[df['status'] == "Rumored"]
print(df['status'].isnull().sum())    
print(df_rumoured['status'].isnull().sum())    
print(df_rumoured.info())    
# print(df_rumoured)

87
0
<class 'pandas.core.frame.DataFrame'>
Index: 230 entries, 682 to 45289
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  230 non-null    object
 1   belongs_to_collection  9 non-null      object
 2   budget                 230 non-null    float64
 3   genres                 230 non-null    object
 4   homepage               17 non-null     object
 5   id                     230 non-null    object
 6   imdb_id                228 non-null    object
 7   original_language      229 non-null    object
 8   original_title         230 non-null    object
 9   overview               217 non-null    object
 10  popularity             230 non-null    float64
 11  poster_path            229 non-null    object
 12  production_companies   230 non-null    object
 13  production_countries   230 non-null    object
 14  release_date           230 non-null    datetime64[ns]
 15  revenue                230 non-null    float64
 16  runtime                230 non-null    float64
 17  spoken_languages       230 non-null    object
 18  status                 230 non-null    object
 19  tagline                60 non-null     object
 20  title                  230 non-null    object
 21  video                  230 non-null    object
 22  vote_average           230 non-null    float64
 23  vote_count             230 non-null    float64
dtypes: datetime64[ns](1), float64(6), object(17)
memory usage: 44.9+ KB
None

In [72]:
rows_with_nan_date = df[df['release_date'].isna()]  
rows_with_nan_date['release_date']

711     NaT
734     NaT
3460    NaT
3628    NaT
5879    NaT
         ..
45148   NaT
45203   NaT
45338   NaT
45410   NaT
45461   NaT
Name: release_date, Length: 90, dtype: datetime64[ns]

In [73]:
rows_with_nan_budget = df[df['budget'].isna()]  
rows_with_nan_budget['budget']

19730   NaN
29503   NaN
35587   NaN
Name: budget, dtype: float64

In [74]:
rows_with_nan_pop = df[df['popularity'].isna()] 
rows_with_nan_pop['popularity']

19729   NaN
19730   NaN
29502   NaN
29503   NaN
35586   NaN
35587   NaN
Name: popularity, dtype: float64

Budget > 0

In [75]:
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')  
df_posbudget = df[df['budget'] > 0]          #ONLY 8890 available >0
# print(df_posbudget['budget'])